<!DOCTYPE html>
<html>
    <head>
        <title>Dynamic Post Request - Flask</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
        <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/handlebars-v4.7.6.js')}}"></script>
        <script id="post" type="text/x-handlebars-template">
            <div class="post">
                {% raw -%}
                {{contents}}
                {%- endraw %}
                <button class="hide">Hide</button>
            </div>
        </script>
    </head>
    <body>
        <div id="posts">
        </div>
    </body>
</html>
